body{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    min-height: 500px;
    margin: 6%;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    border:5px solid black;
    text-align: center;
    border-radius: 10%;
    padding:5%;
}
.input{
    margin-bottom:10px;
    text-align: center;
    width: 70%;
}

